<%-include("partials/header.ejs")%>
<h1 class="home-h1" style="text-align: center;"> Connect with me!</h1>
<div class="big-container">
    <div class="contact-container">
        <div class="grid-contact">
            <div style="text-align: center;">
                <img src="https://media.licdn.com/dms/image/v2/D5635AQE7_TtuWfcfaA/profile-framedphoto-shrink_400_400/profile-framedphoto-shrink_400_400/0/1715566744092?e=1729076400&v=beta&t=tW7QKLkWDiDcElXg85Mgn4v-cENk9_ZnFxefdkCCiUs" alt="profile-photo" class="pfp">
            </div>
            <p class="name">Ananay Kaushal</p>
            <ul>
                <li><a href="https://www.linkedin.com/in/ananay-kaushal-3092021b3/" target="_blank">Linkedin</a></li>
                <li><a href="https://www.instagram.com/an.anay_/" target="_blank">Instagram</a></li>
            </ul>
        </div>
    </div>
</div>
<%-include("partials/footer.ejs")%>