<div class="home-header">
    <h1 class="home-h1">Welcome to the blog!!</h1>
    <h2 class="home-h2">Discover, Create, and Connect</h2>
    <div class="text">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat metus sit amet odio bibendum, et aliquet leo pulvinar. Ut vitae pretium lectus. Nunc laoreet lobortis nunc, nec tempor tortor consequat nec. Suspendisse ipsum diam, venenatis quis justo eu, ornare sodales lorem. Proin magna justo, tempus ac ante id, consequat rhoncus massa. Nam efficitur a neque quis lacinia. Mauris finibus quam vel egestas mollis.
            In nec dui nec nulla dapibus ultricies ac nec dui. Donec ultrices porttitor interdum. Suspendisse potenti. Praesent placerat sed nibh et egestas. Nam a rutrum felis, varius malesuada nunc. Donec non laoreet ipsum, vitae tempus turpis. Ut sed libero condimentum nunc suscipit rutrum. Aliquam a mollis neque, sed laoreet lectus. Nam eget ligula in nunc facilisis cursus venenatis et sapien. Nullam justo tortor, condimentum et nisl non, placerat elementum sem. Proin in pulvinar odio. Vivamus laoreet mauris a massa lobortis, ac convallis dolor posuere. Proin condimentum sed neque id sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Integer vestibulum, augue a efficitur posuere, ante risus efficitur dui, et iaculis dolor purus cursus libero. Cras vel ullamcorper lacus. Sed nibh nulla, gravida in auctor commodo, sollicitudin at sem. Phasellus maximus, neque at lobortis placerat, neque tortor dignissim erat, ac ultricies nulla nunc eu risus. Suspendisse a imperdiet nisl. Nam porttitor consequat lorem, in finibus felis pretium sed. Morbi quam ex, dapibus ac orci in, tempor mollis est.
            Nam et sollicitudin mi. Vestibulum scelerisque facilisis scelerisque. Vestibulum rhoncus sit amet nunc at maximus. Curabitur ornare rutrum ultricies. Vivamus posuere risus iaculis elit dictum, sit amet pretium augue fermentum. Donec eget nisl mi. Fusce eros ligula, hendrerit at sodales at, pulvinar quis nisi. Phasellus in ultricies diam, et congue lectus. Proin sagittis, odio id finibus imperdiet, est ante feugiat mauris, quis eleifend urna sapien ut lorem. Pellentesque ornare semper ligula, ut congue nisl tristique nec.
       </p>
    </div>
    <button class="startedBTN"><a href="/create">Get started</a></button>
</div>